/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base */
body {
    font-family: Arial, sans-serif;
    background-color: #c2d9f0; /* Modification de la couleur de fond */
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #1c2361;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #c7dceb;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

blockquote {
    font-style: italic;
    margin-bottom: 20px;
}

blockquote p {
    margin-bottom: 10px;
}

blockquote footer {
    font-weight: bold;
}

#signup-button {
    background-color: #1c2361;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#signup-button a {
    text-decoration: none;
    color: #fff;
}

#signup-button:hover {
    background-color: #5c87db;
}
